{% load static %}
{% load humanize %}
<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <link rel="stylesheet" href="{% static 'css/eshop.css' %}">
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

  <title>Sport Styling</title>

  <!-- google fonts -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Pacifico">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=DM+Serif+Display">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=PT+Sans+Narrow">
  
  <!-- google icons -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
</head>

<body>
  <!-- navbar -->

<nav class="
  navbar navbar-light
  sticky-top navbar 
  navbar-expand-lg
  text-white">
    <a class="navbar-brand ms-3"
      style="font-family:'Pacifico', sans-serif; font-size: 200%; color: #263A29;"
      href="{% url 'home' %}">
      Sport Styling
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse"
      data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>


    <div class="collapse navbar-collapse" 
    style="font-family: 'Poppins', sans-serif;" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">

        <!-- <li class="nav-item dropdown active">
          <a class="nav-link" href="{% url 'store' %}">All Products</a>
        </li> -->

        <!-- Category -->
        <li class="nav-item dropdown active">
          <a class="nav-link dropdown" data-toggle="dropdown" href="#">Women</a>
          <div class="dropdown-menu">
            <a class="dropdown-item" style="color:#41644A;"
            href="/products/1">Top</a>
            <a class="dropdown-item" style="color:#41644A;"
            href="/products/2">Bottom</a>
            <a class="dropdown-item" style="color:#41644A;"
            href="/products/3">Socks</a>
            <a class="dropdown-item" style="color:#41644A;"
            href="/products/4">Shoes</a>
          </div>
        </li>

        <li class="nav-item dropdown active">
          <a class="nav-link dropdown" data-toggle="dropdown" href="#">Men</a>
          <div class="dropdown-menu">
            <a class="dropdown-item" style="color:#41644A;"
            href="/products/5">Top</a>
            <a class="dropdown-item" style="color:#41644A;"
            href="/products/6">Bottom</a>
            <a class="dropdown-item" style="color:#41644A;"
            href="/products/7">Socks</a>
            <a class="dropdown-item" style="color:#41644A;"
            href="/products/8">Shoes</a>
          </div>
        </li>

        <li class="nav-item dropdown active">
          <a class="nav-link dropdown" data-toggle="dropdown" href="#">Accessories</a>
          <div class="dropdown-menu">
            <a class="dropdown-item" style="color:#41644A;"
            href="/products/9">Headwear</a>
            <a class="dropdown-item" style="color:#41644A;"
            href="/products/10">Bag</a>
            <a class="dropdown-item" style="color:#41644A;"
            href="/products/11">Equipment</a>
          </div>
        </li>

        <li class="nav-item dropdown active">
          <a class="nav-link" href="/stylequiz">Style Quiz</a>
        </li>

      </ul>


      <form class="form-inline my-3 my-lg-0 ml-auto" action="{% url 'store_undercat' cat_pk=0 %}">
        {% csrf_token %}
        <input class="form-control form-control-sm mr-1 w-75" type="text" placeholder="Find Products" name="search">
        <button class="btn btn-sm themebg3" type="submit">
          <span class="material-icons md-18 md-light">search</span>
        </button>
      </form>

      <ul class="navbar-nav my-3 my-lg-0">

        {% if request.session.customer %}
        
        <li class="nav-item active">
          <a class="nav-link" href="/orders">Orders<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="/logout">Logout<span class="sr-only">(current)</span></a>
        </li>

        {% else %}
       
        <li class="nav-item active">
          <a class="nav-link" href="/signup">Signup<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="/login">Login<span class="sr-only">(current)</span></a>
        </li>
        {% endif %}

        <li class="nav-item active pl-2">
          <a class="nav-link" href="/cart">
            <span class="material-icons md-24 item">shopping_bag</span> 
            <span class="notify-badge text-white themebg4">{{request.session.cart.keys|length}}</span>
            <span class="sr-only">(current)</span></a>
        </li>

      </ul>


    </div>
  </nav>
  <!---->

  {% block content %}{% endblock %}

  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>
</body>

</html>